// ---------------------
// Fonts
// ---------------------
$webfont_font_family: 'icons' !default;
$webfont-file: 'icons' !default;
$webfont_weight: normal !default;
$webfont_style: normal !default;
$webfont_directory: "../fonts/" !default;

// ---------------------
// Icons
// ---------------------
$icon-size: 3rem;
$icon-calendar: '\e902';
$icon-responsive: '\e903';
$icon-calendar: "\e902";
$icon-responsive: "\e903";
$icon-wallet: "\e904";
$icon-newspapper: "\e905";
$icon-discover: "\e906";
$icon-assinantes: "\e908";
$icon-editoras: "\e909";
$icon-autores: "\e90a";
$icon-shelf: "\e90c";
$icon-plus: "\e90d";
$icon-nerd: "\e90e";
$icon-put-shelf: "\e90f";
$icon-fast-back: "\e910";
$icon-back: "\e911";
$icon-play: "\e912";
$icon-foward: "\e913";
$icon-fast-foward: "\e914";
$icon-close: "\e915";
$icon-search: "\e916";
$icon-font-less: "\e900";
$icon-font-more: "\e901";
$icon-star: "\e907";
$icon-menu-hamburger: "\e917";

// ---------------------
// Buttons
// ---------------------
$border: 1px $gray-15 solid;
$border-primary: 1px $color-primary solid;
$border-secondary: 1px $color-secondary solid;
$border-success: 1px $color-success solid;
$border-warning: 1px $color-warning solid;
$border-danger: 1px $color-danger solid;
$border-disable: 1px $gray-15 solid;
$radius: 2px;

// ---------------------
// Forms
// ---------------------
$input-radius: 3px;
$input-padding: em(6);
$input-bg-disabled: $gray-15;


// ---------------------
// Tables
// ---------------------
$table-header-font-weight: 400;
$table-header-font-color: $gray-35;
$table-cell-padding: 1.6rem;
$table-condensed-cell-padding: $table-cell-padding/2;
$table-bg: $white;
$table-bg-accent: $color-accent;
$table-bg-hover: rgba(0, 0, 0, .12);
$table-bg-active: $table-bg-hover;
$table-border-color: $gray-15;